<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="styles/reset.css"  type="text/css">
    <link rel="stylesheet" href="styles/base.css"  type="text/css">
    <link rel="stylesheet" href="styles/layout.css"  type="text/css">
    <link rel="stylesheet" href="styles/icons.css"  type="text/css">
    <link rel="stylesheet" href="styles/modules.css"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Roboto:wght@500&display=swap" rel="stylesheet">
 </head>
  <body>
    <section>
      <form action ="/addBook" method="post"></form>
      <% myBooks.forEach(book => { %>
        <div>
           </span><%= book.title %></span>
           </span><%= book.decription %></span>
           </span><%= book.completion %></span>
           <a href="/books/<% book.id %>">show details</a>
        </div>
        <input type=hidden name="title" value=<=%book.title%>
        <input type=hidden name="authors" value=<=%book.authors%>
        <input type=hidden name="description" value=<=%book.description%>
        <input type=hidden name="description" value=<=%book.id%>
        <button>add to my favorites</button>
        <form>
      <% }) %>
    </section>
  </body>






</html>

    </main>
  </body>
</html>