img {
 
 display:block;
 margin-left: auto;
 margin-right: auto;
 width: 30%;
 border: 10px solid white;
 margin-top: 50px;
 margin-bottom: 50px;
 
 

}

#container {
  background-color: rgb(196, 193, 193)

}

#title2{
color: white;
font-size: 1em;
text-align: center;
padding: 10px;
}

#titleAuthor{
  background-color: rgb(202, 202, 202);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 15px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}
p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;

}

input{
  background-color: white;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:15px;
}

#title{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  padding: 30px;
  text-align: left;
  
  
}
h3 {
 font-family: 'Montserrat', sans-serif;
color: rgb(75, 75, 75);
font-size: 45px;
text-align: center;
}

h4 {
  font-family: 'Roboto', sans-serif;
color: rgb(75, 75, 75);
font-size: 35px;
text-align: center;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h6{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 
}

h7{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;

}

#submit-button{
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}
span {
  background-color: rgb(202, 202, 202);
  display:block;
  
}
#newContainer {
  background-color: rgb(219, 16, 16);
}
#radio {
  float: left;
  margin-bottom: 10px;
}
@media only screen and (min-width:960px) {

  img{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
    float: right;
  }

  h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
  }

  h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
  }

  h5{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
  }

}